language: python
dist: bionic
sudo: false
python:
- 3.8
addons:
  apt:
    packages:
    - graphviz
install:
- pip install git+https://github.com/superzerg/sphinxcontrib-traceables.git
- pip install pytest-cov
- pip install coveralls
- pip install twine
script:
- pytest --cov=sphinxcontrib.traceables
after_success:
- coveralls
deploy:
  edge: true
  provider: pypi
  username: "__token__"
  distributions: "sdist bdist_wheel"
  password:
    secure: tBd92kmXZsj7+N36Eo7MRj4iBcsWlXjffLZe08mDcuKSUW4yq9Qbtafwfxi+g/cGWHRZUvlSkfwNUJXrFbE9uvlj61NUKSMhMyJnSMQtv9vx8fJ3y6xG7+qSy4r/nt0Tj0lj6ReOWaKvEmBE84nRA7RPL7mqlyKiF1jp9gQVUUSr/H3zRwlqd0GLAStq5wNIh8CE3WGH42WtDmwewEDtGL94lddR3F32r04rDJ7e+zRmbHhC+bABIQbYq99YJRfA/lThICCGCSn+oILO+T/X2DUYCAuPwTEFkg3GlwEYCiI4218O6Up3g5nDLhPW6HuPEVDtZNpglEj3UPCg9RCAyb4yORUs/6UIDOmavpx4ge+aOuYOUpJZeaONuoXrJGAbBBFA2OXbV1xvjTNiUWvQyQvBXnryENQR6tiEr6znwDn0mnR7e2LITFaT5XM2Et/R63tW2it/OYI4LilP3+f39zLiW+IL+3ixKI2j5DK4GYwFqIaxehlGzgEizjXKkuEi4+2++Us7KoAV8ijFaMSsFwIP0ntEFwuof7Bdy00gYjZ2edpOO/B2SIoxZBavxQo7RQZpSDmBeA+9HekBJL+OGE0qBP2L+4b/W+msKa+qUy61VVx6tTgkqqG76CwbTDtt2qr20D/cy9eWOsUYucuqCECiM2XxP+NzHbIyjgivpJw=
