language: python
jobs:
  allow_failures:
    - os: osx
    - os: windows
  include:
    - name: "Python 3.8 on bionic"
      os: linux
      dist: bionic
      sudo: false
      python: 3.8
      deploy:
        edge: true
        provider: pypi
        username: "__token__"
        distributions: "sdist bdist_wheel"
        password:
          secure: tBd92kmXZsj7+N36Eo7MRj4iBcsWlXjffLZe08mDcuKSUW4yq9Qbtafwfxi+g/cGWHRZUvlSkfwNUJXrFbE9uvlj61NUKSMhMyJnSMQtv9vx8fJ3y6xG7+qSy4r/nt0Tj0lj6ReOWaKvEmBE84nRA7RPL7mqlyKiF1jp9gQVUUSr/H3zRwlqd0GLAStq5wNIh8CE3WGH42WtDmwewEDtGL94lddR3F32r04rDJ7e+zRmbHhC+bABIQbYq99YJRfA/lThICCGCSn+oILO+T/X2DUYCAuPwTEFkg3GlwEYCiI4218O6Up3g5nDLhPW6HuPEVDtZNpglEj3UPCg9RCAyb4yORUs/6UIDOmavpx4ge+aOuYOUpJZeaONuoXrJGAbBBFA2OXbV1xvjTNiUWvQyQvBXnryENQR6tiEr6znwDn0mnR7e2LITFaT5XM2Et/R63tW2it/OYI4LilP3+f39zLiW+IL+3ixKI2j5DK4GYwFqIaxehlGzgEizjXKkuEi4+2++Us7KoAV8ijFaMSsFwIP0ntEFwuof7Bdy00gYjZ2edpOO/B2SIoxZBavxQo7RQZpSDmBeA+9HekBJL+OGE0qBP2L+4b/W+msKa+qUy61VVx6tTgkqqG76CwbTDtt2qr20D/cy9eWOsUYucuqCECiM2XxP+NzHbIyjgivpJw=
    - name: "Python 3.7 on bionic"
      os: linux
      dist: bionic
      sudo: false
      python: 3.7
    - name: "Python 3.6 on bionic"
      os: linux
      dist: bionic
      sudo: false
      python: 3.6
    - name: "Python 3.8 on xenial"
      os: linux
      dist: xenial
      sudo: false
      python: 3.8
    - name: "Python 3.7 on xenial"
      os: linux
      dist: xenial
      sudo: false
      python: 3.7
    - name: "Python 3.6 on xenial"
      os: linux
      dist: xenial
      sudo: false
      python: 3.6
    - name: "Python 3.7.4 on macOS"
      os: osx
      osx_image: xcode11.2  # Python 3.7.4 running on macOS 10.14.4
      language: shell       # 'language: python' is an error on Travis CI macOS
    - name: "Python 3.8.0 on Windows 10"
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      before_install:
        - choco install python --version 3.8.0
        - python -m pip install --upgrade pip
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH
addons:
  apt:
    packages:
    - graphviz
before_install:
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew update          ; fi
  - if [ "$TRAVIS_OS_NAME" = "osx" ]; then brew install graphviz; fi
install:
- pip3 install --upgrade pip
- pip3 install git+https://github.com/superzerg/sphinxcontrib-traceables.git
- pip3 install pytest-cov
- pip3 install coveralls
- pip3 install twine
script:
- pytest --cov=sphinxcontrib.traceables
after_success:
- coveralls
