language: python
jobs:
  allow_failures:
    - os: osx
    - os: windows
  include:
    - name: "Python 3.8 on bionic"
      os: linux
      dist: bionic
      python: 3.8
      deploy:
        - provider: pypi
          on:
            branch: deploy
          edge: true
          username: "__token__"
          distributions: "sdist bdist_wheel"
          password:
            secure: "tBd92kmXZsj7+N36Eo7MRj4iBcsWlXjffLZe08mDcuKSUW4yq9Qbtafwfxi+g/cGWHRZUvlSkfwNUJXrFbE9uvlj61NUKSMhMyJnSMQtv9vx8fJ3y6xG7+qSy4r/nt0Tj0lj6ReOWaKvEmBE84nRA7RPL7mqlyKiF1jp9gQVUUSr/H3zRwlqd0GLAStq5wNIh8CE3WGH42WtDmwewEDtGL94lddR3F32r04rDJ7e+zRmbHhC+bABIQbYq99YJRfA/lThICCGCSn+oILO+T/X2DUYCAuPwTEFkg3GlwEYCiI4218O6Up3g5nDLhPW6HuPEVDtZNpglEj3UPCg9RCAyb4yORUs/6UIDOmavpx4ge+aOuYOUpJZeaONuoXrJGAbBBFA2OXbV1xvjTNiUWvQyQvBXnryENQR6tiEr6znwDn0mnR7e2LITFaT5XM2Et/R63tW2it/OYI4LilP3+f39zLiW+IL+3ixKI2j5DK4GYwFqIaxehlGzgEizjXKkuEi4+2++Us7KoAV8ijFaMSsFwIP0ntEFwuof7Bdy00gYjZ2edpOO/B2SIoxZBavxQo7RQZpSDmBeA+9HekBJL+OGE0qBP2L+4b/W+msKa+qUy61VVx6tTgkqqG76CwbTDtt2qr20D/cy9eWOsUYucuqCECiM2XxP+NzHbIyjgivpJw="
        - provider: pypi
          on:
            branch: testdeploy
          edge: true
          username: "__token__"
          distributions: "sdist bdist_wheel"
          password:
            secure: "oXvCKlob6EGN6kLwEDgr38io6JFR2yKwuE0o5NhUOl2jAdkR/FJe/ck5C5p0+vyM9NpGiI9K27RE1J7946IWBw02XddQ4vizBn7FisY4bE/0iYfdkowsTiV6RxX4ZKThoeJBN1Hhz4i9vct8RnmLgsadXiFCIjhsfeXJ6UdOBupAgZk0ROEJApk5D3TK4EVk0F4/0CWzHHZNSAgEqnJzZNm15aNiExc+/Nq0Cysg1YgCkF3lfrNfFfk5o6rbIpjUXMX2rzYa64AQ3BOSfmn7EcKzZ+AZBFFumbDk12vYcQsWxrykEh2tARz5hCgn3PtspgaxfLFlQhcksD7VsDI9vZzSe5WF3mv/ixnKwGoPJHFUXO/N7U4dTLwe9fTH7rbBOLlHasRIvDPbD/rfMTmOVEkAo7g5rDwgh3Mpv0P9xorMJzViHRp0h2KDJg4gmCxkQplw/9OB81IBaokfyHpRYdOFTjREUvlb8sVm/xl6bI0W6fiUMlgmpzaqmGQPcOlazwJ6UPrxv6XK9+vyc6/a96fbFzLv1AUb2bXt5ZEgoQkktxAYMgwKc8dcFYdofoSdt2jrtM4L9fXNe/ziNZE8Ic4b+nYfZv3RPbafT/SeH6LYd79SSmHnOFmt7VxoYLGRWwKqkv635iCNCu+Txk8WryKZhFGevoLxM0+1QrH2ZSk="
          server: https://test.pypi.org/legacy/ # Remove for pypi deployment to official PyPi repo
        - provider: pages:git
          verbos: true                      # Verbose output.
          token:
            - secure: "oV1HSbLBoUFgzXsdWJr2Xxz+W/sQTTYEsMm7aW7c0GdRR9y8sCKOiPWHNu1KEKYu1m6qlH6RPYd2iyuGTCV4Cg8D6785G6vS//BJWRjvzSVI+RKIWPbxDwgVWoZKpbBFj/j43t8eBpJJXjoGvE3wzw+G/TWkNBE7zzkMSU2bs60w4Jg5DtUx9o20XKYBm6nydkxKLbJOmzidnKtt7lL9ip4dEqX4wDZeiGVoG2kd27nDRwsV4d/B9ep/Uqz+meh9tCqcqoDez4VrkGO8aK5Hpz70WNapjR0wHavem6/Zy+jzml+BlFRc41sUt1kqUP5h+wwqA8bmRixO0lXTASYoJHdJZxYkRMhMTHxtj1wUmsFUm2Ll8LdXU21iJQfb1JBkqgH1IkkeNXILptJkN7vW+Zl/49GWET7DoF0zQvDjo7qKp0n6Tzth11QebrmFHwwCGb8gAtbBiUpoyrpkMQJWVq3po73zexrZJIfJdhDBVxNxJEWMu/YY5V3JZnWap64ZZ0asffojJlZtvra5mYqLq8oZ7P30xy/heyxtBeDr9CdyZ2rL/T9MVnzD01cpSms9OmKucalEIhSHg4SbCOCk2eejrOyNSdR1jOZBrf9yq2mppPxI9yW0SFEuFdck8cWg9YaPpROOV2IO7kGq4RwDvy0uSJftUfi0PFq+4amw/JM="
          edge: true                        # Use new Travis API.
          local_dir: ./docs/build/html/     # Location of build docs.
          keep_history: true                # Create incremental commi
    - name: "Python 3.5 on bionic"
      os: linux
      dist: bionic
      python: 3.5
    - name: "Python 3.8 on xenial"
      os: linux
      dist: xenial
      python: 3.8
    - name: "Python 3.5 on xenial"
      os: linux
      dist: xenial
      python: 3.5
    - name: "Python 3.8.3 on macOS"
      os: osx
      osx_image: xcode12  # macOS 10.15.5
      language: shell       # 'language: python' is an error on Travis CI macOS
      before_install:
        - brew install graphviz
        - pip3 install virtualenv
        - virtualenv -p python3 venv
        -  . ./venv/bin/activate
    - name: "Python 3.8.0 on Windows 10"
      os: windows           # Windows 10.0.17134 N/A Build 17134
      language: shell       # 'language: python' is an error on Travis CI Windows
      before_install:
        - choco install python --version 3.8.0
        - choco install graphviz
        - python -m pip install --upgrade pip
      env: PATH=/c/Python38:/c/Python38/Scripts:$PATH

addons:
  apt:
    packages:
    - graphviz
install:
- pip3 install --upgrade pip
- pip3 install .
- pip3 install pytest-cov
- pip3 install coveralls
- pip3 install twine
- pip3 install sphinx_rtd_theme
script:
- pytest --cov=sphinxcontrib.traceables
- sphinx-build docs/ docs/_build/ # build doc
- touch docs/_build/.nojekyll     # for github, so hte htmlpages are not understood as jekill
- sphinx-build examples/constellations/ examples/constellations/_build/
#- sphinx-build examples/requirements/ examples/requirements/_build/
after_success:
- coveralls
